[LISTEN]
port = 6667
hostname = myhostname

[STRINGS]
motd_file = conf/MOTD
preface_file = conf/PREFACE

[AUTH]
passwd_file = auth/passwd
passwd_key = auth/passwd-key

[USERS]
data_dir=users/

[LOGS]
event_log=logs
channels=general meta
